body,html {
	margin: 0;
	padding: 0;
	font-family: Verdana, sans-serif;
}

nav {
	width: 100%;
	height: 100px;
	position: fixed;
	padding: 10px 100px;
	box-sizing: border-box;
	transition: all .4s ease-in-out;
}

nav ul {
	float: right;
	margin: 0;
	padding: 0;
	display: flex;
}

nav ul li {
	list-style: none;
	margin-left: 3px;
}

nav ul li a {
	text-transform: uppercase;
	font-size: 18px;
	padding: 5px 25px;
	line-height: 80px;
	color: black;
	cursor: pointer;
	text-decoration: none;
}

nav.black {
	position: fixed;
	background-color: rgba(0, 0, 0,.8);
	width: 100%;
	height: 80px;
	line-height: 60px;
	transition: all .4s ease-in-out;
	box-shadow: 0px 5px 5px 0px;
}

nav.black li a {
	text-decoration: none;
	color: white;
	line-height: 60px;
}

nav.black li a:hover {
	border: none;
	border-bottom: 3px solid orange;
	color: white;
}

nav li a:hover {
	border: none;
	border-bottom: 3px solid yellowgreen;
	text-decoration: none;
	color: #000;
}

.img img {
	width: 100%;
	height: 100vh;
}

.h1 {
	display: flex;
	justify-content: center;
	font-size: 35px;
	margin-top: 20px;
}

.text {
	padding: 0 100px 0 100px;
	line-height: 25px;
	text-align: center;
	font-size: 18px;
	margin-bottom: 20px;
}

.backg {
	width: 100%;
	height: 1200px;
	margin-top: 20px;
	background-image: url(../img/austria.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.block {
	width: 600px;
	height: 400px;
	display: inline-block;
	margin: 200px 0 0 100px;
	background-color: rgba(225, 225, 225,.7);
	border-radius: 10px;
	border: none;
	border-bottom: 3px solid orange;
	border-radius: 15px;
	z-index: 1;
}

.block1 {
	width: 600px;
	height: 400px;
	display: inline-block;
	margin: 75px 0 0 100px;
	background-color: rgba(225, 225, 225,.7);
	border-radius: 10px;
	border: none;
	border-bottom: 3px solid orange;
	z-index: 1;
}

.text1 {
	line-height: 25px;
	text-align: center;
	font-size: 18px;
	padding: 10px 10px 5px 10px;
	z-index: 2;
}

.text2 {
	text-align: center;
	padding: 10px 10px 5px 10px;
	z-index: 2;
}

.foto {
	margin-left: 75px;
}

.foto img {
	width: 350px;
	height: 200px;
}

.bl {
	width: 400px;
	height: 450px;
	margin: 75px 20px 0px 25px;
	display: inline-block;
	background-color: #cccccc;
	border-radius: 10px;
}

.png img {
	width: 100%;
	height: 250px;
	border-radius: 10px 10px 0 0;
}

.slovo h1 {
	text-align: center;
	padding: 20px 0 0 0;
}

.slovo p {
	text-align: center;
}

.view {
	width: 70px;
	height: 30px;
	background: transparent;
	border: 1px solid red;
	font-family: Verdana, sans-serif;
	font-size: 16px;
	color: red;
	border-radius: 5px 0 0 5px;
	margin-left: 125px;
}

.buy {
	width: 70px;
	height: 30px;
	background: transparent;
	border: 1px solid red;
	font-family: Verdana, sans-serif;
	font-size: 16px;
	color: red;
	border-radius: 0 5px 5px 0;
	margin-left: -6.5px;
}

.view:hover,.buy:hover {
	background-color: red;
	color: #fff;
	transition: all .2s;
}

.description {
	width: 100%;
	height: 100%;
	background-color: #cccccc;
	display: inline-block;
}

.description div {
	width: 1000px;
	height: 800px;
	background-color: white;
	text-align: justify;
	font-size: 18px;
	padding: 50px 75px 0 75px;
	margin-left: 175px;
	margin-top: 100px;
}

footer {
	width: 100%;
	height: 200px;
	background-color: black;
}

footer ul {
	padding: 0;
	margin: 0;
}

footer ul li {
	list-style: none;
	padding: 10px 0px 0px 0px;
	margin-left: 650px;
}

footer ul li a {
	text-decoration: none;
	color: #fff;
}

footer ul li a:hover {
	color: #fff;
	text-decoration: underline;
}




